<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="localCacheScope" value="SESSION"/>
        <!-- 二级缓存 默认是 true 需要在 mapper.xml 中配置 <cache/> 标签 -->
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 设置超时时间，它决定驱动等待一个数据库响应的时间。 -->
        <setting name="defaultStatementTimeout" value="25000"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- 匹配驼峰字段属性 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logPrefix" value="dao."/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <plugins>
        <plugin interceptor="cn.web1992.mybatiss.intercepror.ExecutorInterceptor">
            <property name="a" value="1"/>
        </plugin>
        <plugin interceptor="cn.web1992.mybatiss.intercepror.ParameterHandlerInterceptor">
            <property name="b" value="2"/>
        </plugin>
    </plugins>
    <mappers>
        <!--<mapper class=""/>-->
    </mappers>
</configuration>
