<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <plugins>
        <plugin interceptor="cn.web1992.mybatiss.intercepror.ExecutorInterceptor">
            <property name="a" value="1"/>
        </plugin>
        <plugin interceptor="cn.web1992.mybatiss.intercepror.ParameterHandlerInterceptor">
            <property name="b" value="2"/>
        </plugin>
    </plugins>
    <mappers>
        <!--<mapper class=""/>-->
    </mappers>
</configuration>
