<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	  http://www.springframework.org/schema/beans/spring-beans.xsd
	  http://www.springframework.org/schema/aop
	  http://www.springframework.org/schema/aop/spring-aop.xsd
	  http://www.springframework.org/schema/tx
	  http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!-- 使用Mysql -->
    <import resource="spring-datasource.xml"/>

    <!-- in-memory database and a datasource -->
    <!-- hsqldb -->
    <import resource="spring-embedded-database.xml"/>

    <bean id="multipleDataSource" class="cn.web1992.mybatiss.datasource.MultipleDataSource">
        <property name="defaultTargetDataSource" ref="embeddedDataSource"/>
        <property name="targetDataSources">
            <map>
                <entry key="embeddedDatabase" value-ref="embeddedDataSource"/>
                <entry key="mysqlDatabase" value-ref="dataSourceMySQL"/>
            </map>
        </property>
    </bean>


    <!-- SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="multipleDataSource"/>
        <property name="typeAliasesPackage" value="cn.web1992.mybatiss.dal.domain"/>
        <property name="configLocation" value="classpath:/config/mybatis/mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath*:cn/web1992/*/dal/dao/*.xml"/>
    </bean>
    <!-- ScanMapperFiles -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.web1992.mybatiss.dal.dao"/>
        <!--<property name="markerInterface" value="com.xxx.common.dao.BaseDao"/>-->
    </bean>

    <!-- 注解事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 事务配置 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="multipleDataSource"/>
    </bean>

    <!-- tx配置事务 start -->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="del*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="Exception"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="Exception"/>
        </tx:attributes>
    </tx:advice>
    <!-- 第一个*代表所有的返回值类型;第二个*代表所有的类;第三个*代表类所有方法;最后一个..代表所有的参数 -->
    <aop:config>
        <aop:pointcut id="interceptorPointCuts" expression="execution(* cn.web1992.**.srv.impl.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="interceptorPointCuts"/>
    </aop:config>
    <!-- tx配置事务 end -->
</beans>	  	   